.container{
    /* background-color: beige; */
}

.hero{
    height: 500px;
}

.hero-banner{
    height: inherit;
    width: 100%;
}


/* DETAILS */

/* .place-name-container-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.place-details{
    display: flex;
}

.save-button-box{
    border-style: solid;
    border-width: 2px;
    border-radius: 50px;
}

.save-button{
    border-radius: 50px;
    /* border-style: none; */
    font-weight: 500;

    padding: 3px 9px;
}

.share-button{
    padding: 3px;
    border-style: none;
}

.like-button{
    padding: 3px;
    border-style: none;
}

.rates{
    display: flex;
}

/* REVIEW */
.review-head{
    display: flex;
    align-items: center;
}

h5{
    margin-bottom: 0;
}

.sort-drop{
    
}

.sort-button{
    border-style: none;
    padding: 4px 8px 0px 8px;
}

.add-review-button{
    border-style: solid;
    border-width: 2px;
    border-radius: 50px;

    margin-left: auto;
}

.addReview-button{
    /* border-style: none; */
    border-radius: 50px;
    font-weight: 500;

    padding: 3px 6px;
}

.review-box{
    padding: 0 20px;
}

.rev-user{
    display: flex;
}

.rev-user img{
    border-radius: 180px;
    width: 42px;
    height: 42px;
    margin-right: 5px;
}

.rev-name-rate p{
    margin-bottom: 0;
}

.rev-content{
    padding-left: 47px;
}

/* REVIEW FORM */
.review-form{
    display: none;
}


/* CARDS */
.card-img{
    height: 250px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.circle-bg {
    background-color: rgba(0, 0, 0, 0.7); /* Set your desired background color */
    width: 36px; /* Adjust the width for the desired size */
    height: 36px; /* Adjust the height for the desired size */
    border-radius: 50%; /* Make it circular */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
}

.card-row{
    margin-bottom: 15px;
    /* padding-bottom: 10px; */
}

.bookmark-icon{
    color: white;
}

.card-text{
    margin-bottom: 0;
    font-weight: 600;
}

.category-text{
    color: #FF7A00;
    font-weight: 600;
}

.custom-title{
    margin-bottom: 3px;
    font-weight: 700;
}


/* REVIEW FORM */
/* Set a style for all buttons */
button .reviewFormBtn{
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #0000009e;
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover, .close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.reviewFormBtn::after {
    content: "";
    clear: both;
    display: table;
}